body {
  font-family: "Rubik", sans-serif;
}

section {
  margin: auto;
  max-width: 400px;
}

label {
  padding-left: 0.1em;
}

#result {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}

.full-width {
  width: 100%;
}
